{% extends '_layout/master.twig' %}

{% block head_title %}
    {% trans %}
    Settings
    {% endtrans %}
{% endblock %}

{% block main_content %}
    <div class="row">
        <div id="latest-documents" class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{% trans %}Personnal account informations{% endtrans %}</h3>
                </div>
                <div class="panel-body">
                    {#<div class="alert alert-danger" role="alert">#}
                    {#{% trans %}#}
                    {#<i class="fa fa-fw fa-exclamation-triangle"></i>#}
                    {#<strong>Be careful !</strong> We are not checking the informations. If you type wrong ones,#}
                    {#Raggam might not access OnTime datas.#}
                    {#{% endtrans %}#}
                    {#</div>#}
                    <div class="alert alert-info alternative" role="alert">
                        {% trans %}
                        <i class="fa fa-fw fa-exclamation-circle"></i>
                        For security reason, we are not letting you (yet) updating the OnTime informations.
                        <a href="mailto:contact@raggam.net">Please contact us to do so</a>.
                        {% endtrans %}
                    </div>
                    <form class="form-horizontal" method="post" action="{{ url('account.edit') }}">
                        <div class="form-group">
                            <label for="url" class="col-lg-3 control-label">
                                {% trans %}OnTime environment URL{% endtrans %}
                            </label>

                            <p class="col-lg-9">
                                <input type="text" id="url" name="url" class="form-control"
                                       value="{{ current_client.getOtUrl() }}" disabled="disabled" required/>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="client_id" class="col-lg-3 control-label">
                                {% trans %}Client id{% endtrans %}
                            </label>

                            <p class="col-lg-9">
                                <input type="text" id="client_id" name="client_id" class="form-control"
                                       value="{{ current_client.getOtClientId() }}" disabled="disabled" required/>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="client_secret" class="col-lg-3 control-label">
                                {% trans %}Client secret{% endtrans %}
                            </label>

                            <p class="col-lg-9">
                                <input type="text" id="client_secret" name="client_secret" class="form-control"
                                       value="{{ current_client.getOtClientSecret() }}" disabled="disabled" required/>
                            </p>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <label for="hours_per_day" class="col-lg-3 control-label">
                                {% trans %}Hours per day{% endtrans %}
                            </label>

                            <div class="col-lg-9">
                                <p class=" input-group">
                                    <input type="text" id="hours_per_day" name="hours_per_day" class="form-control"
                                           value="{{ current_client.getHourPerDay() }}" required/>
                                    <span class="input-group-addon" id="basic-addon2">hour(s)</span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="days_per_week" class="col-lg-3 control-label">
                                {% trans %}Days per week{% endtrans %}
                            </label>

                            <div class="col-lg-9">
                                <p class=" input-group">
                                    <input type="text" id="days_per_week" name="days_per_week" class="form-control"
                                           value="{{ current_client.getDayPerWeek() }}" required/>
                                    <span class="input-group-addon" id="basic-addon2">day(s)</span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="week_per_iteration" class="col-lg-3 control-label">
                                {% trans %}Weeks per iteration{% endtrans %}
                            </label>

                            <div class="col-lg-9">
                                <p class=" input-group">
                                    <input type="text" id="week_per_iteration" name="week_per_iteration"
                                           class="form-control"
                                           value="{{ current_client.getWeekPerIteration() }}" required/>
                                    <span class="input-group-addon" id="basic-addon2">week(s)</span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="col-lg-9 col-lg-offset-3">
                                <button class="btn btn-primary btn-sm" type="submit">
                                    {% trans %}Update informations{% endtrans %}
                                </button>
                                <a href="{{ url('account.delete') }}" class="btn btn-danger btn-sm"
                                   data-toggle="modal" data-target=".modal">
                                    <i class="fa fa-fw fa-exclamation-triangle"></i>
                                    {% trans %}Delete account{% endtrans %}
                                </a>
                            </p>
                        </div>
                    </form>
                    {% include '_common/last-update.twig' with {date:current_client.getDateUpdate()} %}
                </div>
            </div>
        </div>
    </div>
    {% include '_common/modal/confirm.twig' with {
    modal: {
            title:'Deleting account',
            message:'Are you sure you want to delete your account ?'
        }
    } %}
{% endblock %}
